.modal {
  position: relative;
  top: 50%;
  left: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-width: 60rem;
  // height: auto;
  background-color: rgba(221, 221, 221, 0.9);
  border: 4px solid #6b6b6b;
  padding: 5rem;
  border-radius: 1rem;
  transform: translate(-50%, -50%);

  &[open] {
    animation: modalOpen 0.25s ease;
  }

  &::backdrop {
    backdrop-filter: blur(25px);
  }

  &__close {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 4%;
  }
}

@keyframes modalOpen {
  from {
    opacity: 0;
    transform: translate(-50%, -40%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
