@keyframes rotateSpinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  svg {
    width: 2rem;
    height: 2rem;
    animation: rotateSpinner 1s linear infinite;
  }
}
