.form {
  display: flex;
  padding: 10rem;
  border: 2px solid #6b6b6b;
  border-radius: 1rem;

  &__controls {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  &__error {
    opacity: 0;
    color: rgb(194, 0, 0);
    font-size: 1.5rem;
    text-align: center;
    transform: translateY(-2px);
    transition:
      transform 0.3s ease-in,
      opacity 0.3s ease-in;

    &--visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.button {
  // margin-top: 2rem;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  background-color: transparent;
  border: 1px solid #aaaaaa;
  transition: background-color 0.3s ease-out;
  cursor: pointer;

  &:hover {
    background-color: #eeeeee;
  }
}
