.todoCard {
  display: inline-flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #aaaaaa;
  max-width: 30rem;
  width: 100%;
  transition: background-color 0.3s ease-in;
  cursor: pointer;

  svg {
    width: 2rem;
    height: 2rem;
  }

  &:hover {
    background-color: #f1f1f1;
  }

  &--done {
    background-color: rgba(0, 219, 0, 0.445);
  }

  &__title {
    font-size: 1.75rem;
    font-family: sans-serif;
    word-break: break-word;
  }

  &__text {
    text-align: right;
    font-size: 1.5rem;
    font-family: sans-serif;
  }

  &:hover &__controls {
    visibility: visible;
    opacity: 1;
  }

  &__controls {
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-flow: row;
    justify-content: flex-end;
    gap: 1rem;
    transition:
      opacity 0.3s ease-in,
      visibility 0.3s ease-in;
  }
}
